body {
  font-family: Rubik, sans-serif;
  margin: 0;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 720px;
}

main {
  padding: 40px;
}

a {
  color: #19d;
}

ul.languages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

ul.languages>li {
  margin: 8px;
}
